{#

    Cart Button Component
    Used mainly on the product page
    product_id - Number
    size - String (Large, Medium, Small)

#}
<button type="submit" name="add-to-cart" value="{{ product_id }}" class="btn btn--cart-large">Add to cart</button>
