{#

    Shop Divider
    Used on the shop page to divde products up

    Name - product.get_name()
    Image - product.get_image()
    URL - product.get_permalink()

#}

<li class="product-excerpt grid__item 1/3 1/2--tablet-portrait 1/1--palm-portrait">

    <div class="product-excerpt__inner">

        <div class="product-excerpt__link" style="background-color: {{ bg_colour }}"></div>

    </div>

</li>
