
<footer class="footer {{type}}">
  <div class="footer-links">
    {% if footer_nav %}
      {% for item in footer_nav.items %} 
        <a href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
    {% endif %}
  </div>
  <p>©2018 Island Creamery. Built by Sunny Side Up</p>
  <svg class="smorph" preserveAspectRatio="none">
    <path d="M794,362.7c0,0-44.4,34-55.2,143.1c-5,44.7-7.6,85.3-7.6,85.3s-2.5,52.4,21.1,78.5
	c23.6,26.1,55,78.2,128.5,88.6c163.7,19.2,238.1-77.5,238.1-77.5s86.2-82.5,67.1-152.6c-19.1-70-19-79.3-69.6-134.7 c-50.6-55.3-77.6-73.6-107-70.9c-29.3,2.7-43.1,0.3-84.5-2.6C883.5,317.1,832.5,321.9,794,362.7z" fill="#D53940"/>
  </svg>
</footer>

{# {% include 'components/loader.twig' %} #}

{{ wp_footer() }}
