<footer class="footer {{type}}">
  <div class="footer-links">
    {% if footer_nav %}
      {% for item in footer_nav.items %} 
        <a href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
    {% endif %}
  </div>
  <p>©2018 Island Creamery. Built by Sunny Side Up</p>
  {# <svg id="footer-svg" class="footer-morph-svg" preserveAspectRatio="none" viewBox="0 0 457.639 441">
    <path d="M794,362.7s-44.4,34-55.2,143.1c-5,44.7-7.6,85.3-7.6,85.3s-2.5,52.4,21.1,78.5,55,78.2,128.5,88.6c163.7,19.2,238.1-77.5,238.1-77.5s86.2-82.5,67.1-152.6c-19.1-70-19-79.3-69.6-134.7-50.6-55.3-77.6-73.6-107-70.9-29.3,2.7-43.1.3-84.5-2.6C883.5,317.1,818.713,348.105,794,362.7Z" fill="#D53940"/> #}
    
  {# </svg> #}
  <div id="footer-svg-container">
    <svg id="footer-svg" width="457.639" height="441" viewBox="0 0 457.639 441"><defs><style>.footer-svg-path{fill:#D53940;}</style></defs><path class="footer-svg-path" d="M794,362.7s-44.4,34-55.2,143.1c-5,44.7-7.6,85.3-7.6,85.3s-2.5,52.4,21.1,78.5,55,78.2,128.5,88.6c163.7,19.2,238.1-77.5,238.1-77.5s86.2-82.5,67.1-152.6c-19.1-70-19-79.3-69.6-134.7-50.6-55.3-77.6-73.6-107-70.9-29.3,2.7-43.1.3-84.5-2.6C883.5,317.1,818.713,348.105,794,362.7Z" transform="translate(-731.124 -319.722)"/>
    </svg>
  </div>
</footer>

{# {% include 'components/loader.twig' %} #}

{{ wp_footer() }}
