<footer class="footer">

    <div class="footer__items">

        {% if footer_nav %}

            <ul class="footer__list">

                {% for item in footer_nav.items %}
                    <li class=""><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}

            </ul>

        {% endif %}

    </div>

</footer>

{% include 'components/loader.twig' %}

{{ wp_footer() }}
