{% set logo = global_options.logo %}

<header class="simple-header">

  <div class="nav">
    <a href="/">
      <img src="{{ logo.url }}">
    </a>
    <div class="nav-menu">
      <a href="javascript:history.go(-1)">Back</a>
    </div>
  </div>

</header>
