/**
 * Global / Fonts
 */

/**
 * Nunito Sans
 */

/* Light */
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/nunito-sans/light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/nunito-sans/light-italic.ttf');
    font-weight: 200;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/nunito-sans/regular.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/nunito-sans/regular-italic.ttf');
    font-weight: 300;
    font-style: italic;
}

/* Semi Bold */
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/nunito-sans/semi-bold.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/nunito-sans/semi-bold-italic.ttf');
    font-weight: 400;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/nunito-sans/bold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/nunito-sans/bold-italic.ttf');
    font-weight: 600;
    font-style: italic;
}

/* Black */
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/nunito-sans/black.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Antro Vectra';
    src: url('../fonts/antro-vectra/Antro_Vectra.otf');
    font-weight: 200;
    font-style: normal;
}
