{#

    Cart Page

#}

{% extends 'layout.twig' %}

{% set site_title = 'checkout' %}

{% block page %}

    <section class="checkout" data-checkout="container">

        <section class="checkout__content">

            {{ post.content }}

        </section>

    </section>

{% endblock %}
