{% extends 'layout.twig' %}

{% set site_title = post.title %}

{% block page %}

  <section class="intro">
    <h1>{{ site_title }}</h1>
  </section>
  
  <section class="form-container">
    <h1>I am contacting you for</h1>
    {{ post.content }}
  </section>

{% endblock %}
