{% extends 'layout.twig' %}

{% set site_title = post.title %}
{% set nav_footer = post.get_field('nav_footer') %}
{% block page %}

  <section class="intro">
    <h1>{{ site_title }}</h1>
  </section>
  
  <section class="form-container">
    <h1>I am contacting you for</h1>
    {{ post.content }}
  </section>

  <section id="shop-foot-link" class="nav-shortcut strawberry">
      <svg id="top-svg" class="foot-svg" preserveAspectRatio="none">
        <path id="form-path" d="M0.2,135.8c0,0-20,72,342.2,72c297.7,0,420.8,61.7,420.8,61.7s170,89.3,361.7,25.3c139-46.4,214-70.4,410.3-19 c280,42.1,384.8-46.2,384.8-46.2V0H0.2V135.8z" />
      </svg>
      <a class="journey-link__url" href="{{ nav_footer.url }}" >
        <span>{{ nav_footer.title }}</span>
      </a>
      <svg id="bottom-svg" class="foot-svg" preserveAspectRatio="none">
        <path id="foot-path" d="M0.2,135.8c0,0-20,72,342.2,72c297.7,0,420.8,61.7,420.8,61.7s170,89.3,361.7,25.3c139-46.4,214-70.4,410.3-19 c280,42.1,384.8-46.2,384.8-46.2V0H0.2V135.8z" />
      </svg>
  </section>

{% endblock %}
