{#
    Main Layout
#}

<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ site_title }} - NestBloom</title>
        {{ wp_head() }}
    </head>

    <body class="{% if user %}logged-in{% endif %} page page--{{ site_title|lower|replace({' ':'-'}) }}">

        {# Main Content #}
        {# <main class="main main--{{ site_title|lower|replace({' ':'-'}) }}"> #}
        
            {# Header #}
            {% if site_title == 'checkout' %}
                {% include 'layout/simple-header.twig' %}
            {% else %}
                {% include 'layout/header.twig' %}
            {% endif %}

            {% block page %}{% endblock %}

            {# Footer #}
            {# {% if not site_title == 'checkout' %} #}
            {% include 'layout/footer.twig' %}
            {# {% endif %} #}

        {# </main> #}

        {% block scripts %}{% endblock %}
        <style>
        body {
            overflow: hidden;
        }
        </style>

    </body>
</html>
