// Config
@import '../../config/fonts';

// Utils
@import '../../utils/functions/rem';

/**
 * Components / Quantity Field
 * Quantity field for adjusting quantity of an item
 */
.quantity-field {
    width: 57px;
    display: block;
    margin: auto;
    float: right;

    @media screen and (max-width: $breakpoint-palm-portrait) {
        width: 50px;
        transform: translate(10px, -2px);
    }

}

.quantity-field__wrapper {
    display: flex;
    text-align: center;
}

.quantity-field__adjuster {
    width: 33%;
    display: inline-block;
    text-align: center;
    padding: 0 5px 0 5px;

    span {
        position: relative;
        top: 50%;
        display: block;
        margin: auto;
        transform: translateY(-42%);
        width: 35px;
        height: 20px;
        border-radius: 50%;
        background-color: none;
        cursor: pointer;
        font-size: 0.9rem;
    }

}

.quantity-field__adjuster--inc {

    span::before {
        content: '+';
    }

}

.quantity-field__adjuster--dec {
    transform: translateX(-15px);
    span::before {
        content: '-';
    }

}

.quantity-field__input {
    width: 45%;
    display: inline-block;
    outline: none;
    border: 0;
    text-align: center;
    font-size: 0.8rem;
    font-family: $fontstack-sans-primary;
    color: black;
    appearance: textfield;
    margin: 0;
    font-weight:700;
    transform: translateX(5px);

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
    }

    @media screen and (max-width: $breakpoint-palm-portrait) {
    }

}
