/**
 * Config / Palette
 *
 * Colour variable declarations. By right, all colours used should be declared
 * as a variable in line with the style guide of the project.
 */

/* Brand Colours */
$color-brand-primary: #f1e7e6;
$color-brand-secondary: #ebaca6;
$color-brand-tertiary: #f0d3cf;

/* Default */
$color-black: #000;
$color-white: #fff;
$color-white-off: #e8e8e8;

/* Greyscale */
$color-grey-darkest: #161010;
$color-grey-dark: #222;
$color-grey: #888;
$color-grey-light: #EFF0F1;
$color-grey-lightest: #ccc;

$teh-tarik: #FD795B;
$pineapple-tart: #E0B172;
$pulut-hitam: #6F4C6A;
$tiger-sorbet: #E7D7CD;
$pear-sake: #737651;
$cookies-cream: #311F22; 
$soursop: #90C4B3;
$fresh-banana: #EFD352;
$horlicks: #DFAC6A;
$kahlua-latte: #BA9A85; 
$mango-sorbet: #E47F6A;
$primary: #D53940;
$secondary: #7E4B42;
$surface: #F5EDEB;
$surface-darker: #D2C4C1;
$surface-lighter: #F6F6F6;
$background-color: #FFFFFF;
$strawberry: #DB6166;
$orange: #F94623;
