/**
 * Components / Buy
 */


.btn {
    position: relative;
    display: block;
}

.btn--buy {
    font-family: $fontstack-sans-primary;
    text-transform: uppercase;

    &:hover {

        .btn__accent {

            &:before, &:after {
                width: 26%;
            }

            &:before {
                left: 40px; 
            }

            &:after {
                right: 40px;
            }
    
            .mini-cart-decoration__circle--one {
                transform: translate(0, -2px);
            }
    
            .mini-cart-decoration__circle--two {
                transform: translate(0, 4px);
            }
    
            .mini-cart-decoration__circle--three {
                transform: translate(-3px, 1px);
            }
    
            .mini-cart-decoration__circle--four {
                transform: translate(3px, 1px);
            }

        }

    }

}

.btn--cart {

    border: none;
    text-decoration: underline;
    outline: none;

}

.btn__accent {
    margin: 3px auto 0;
    display: block;
    position: relative;
    width: 48%;

    @media screen and (min-width: $breakpoint-mobile-portrait) {
        
    }

    @media screen and (min-width: $breakpoint-palm-portrait) {

    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        
    }

    @media screen and (min-width: $breakpoint-tablet-landscape) {
        
    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        
    }

    @media screen and (min-width: $breakpoint-laptop) {
        width: 90%;
    }

    div {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        border: 1px solid #d59a7c;
    }

    &::before,
    &::after {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        content: '';
        width: calc(50% - 21px);
        height: 1px;
        background-color: #d59a7c;
        transition: all 250ms ease;
    }

    &::before {
        left: 14px;
    }

    &::after {
        right: 14px;
    }

    .mini-cart-decoration {
        width: 11px; 
        height: 11px;
        stroke-width: 1px;

        g {
            path {
                stroke-width: 1px;
            }
        }
    }

}
