// Config
@import '../config/layering';
@import '../config/breakpoints';

/**
 * Components / Header
 */

 header {

  background-color: transparent;
  
  @media screen and (max-width: $breakpoint-palm-portrait) {

    max-height: 15vh;

  } 

  .nav {

    padding: 2% 25px 0 4%;
    display: flex;
    justify-content: space-between;
    position: relative;

    @media screen and (max-width: $breakpoint-palm-portrait) {
      
      padding: 4% 25px 0 4%;
      
      &.home {

        background-color: #f6f6f6;
        
      }

      &.menu {

        background-color: $primary;
        
      }

      &.about {

        background-color: #F8B529;
        
      }
    
    }

    a {

      z-index: 1;

    }

    .logo {

      img {

        height: 90px;
        width: auto;

      }

      @media screen and (max-width: $breakpoint-palm-portrait) {

        display: block;
        margin: auto; 
        padding-left: 25px; //width of hamburger icon
        z-index: 3;

        img {

          height: 70px;
          width: auto;

        }
      }

    }

    .nav-btn, #nav-check {

      display: none;

      @media screen and (max-width: $breakpoint-palm-portrait) {
        
        &.nav-btn {

          display: block;
          position: absolute;
          top: calc(50% - 15px);
          left: 30px;
          z-index: 3;

          label {

            z-index: 3;

            span {

              z-index: 3;
              display: block;
              width: 25px;
              height: 5px;
              border-top: 2px solid $primary;

              &.dark {

                border-top: 2px solid white;
                background: none;

              }
  
            }
  
          }

        }

        &#nav-check[type = "checkbox"]:checked ~ .nav-menu {

          height: 100vh;
          padding-top: 20vh;

        }

        &#nav-check[type = "checkbox"]:checked ~ .nav-btn {

          label > span {

            display: none;
              
          }

          label::after {

            content: "X";
            font-size: 2em;
            color: white;

          }

        }

        &#nav-check[type = "checkbox"]:checked ~ .mini-cart {
          
          label {

            img {

              filter: brightness(0) invert(1);

            }

            span {

              color: $primary;

            }

          }

        }

      }

    }

    .nav-menu {

      display: flex;
      z-index: 1;
      flex-direction: row;
      margin-left: auto;

      svg {

        display: none;

      }

      @media screen and (max-width: $breakpoint-palm-portrait) {

        position: absolute;
        text-align: center;
        display: block;
        width: 100%;
        background-color: none;
        height: 0px;
        transition: all 1.5s ease-in-out;
        overflow-y: hidden;
        top: 0;
        left: 0;
        z-index: 2;
        font-size: 1.8em;
        text-transform: capitalize;

        .nav-filler-svg {

          display: block;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          width: 100vw;

          path {

            fill: $primary;
            transform: scaleX(2);

          }

        }

        #nav-menu-svg {

          height: 100vh;
          width: 100vw;
          position: absolute;
          left: 0;
          // top: -20vh;
          top: -3vh;
          z-index: -1;
          display: block;

          path {

            fill: $primary;

          }

        }
      
      }

      a {

        &.home {
          
          display: none;

          @media screen and (max-width: $breakpoint-palm-portrait) {

            display: block;

          }
          
        }

        color: black;
        text-decoration: none;
        padding: 20px 0;
        margin-right: 30px;
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.87em;
        backface-visibility: hidden; 
        transition: background 500ms linear, color 500ms linear;
        position: relative; 
        max-height: 5px;

        &:before {

          background: black;
          left: 0; 
          content: ''; 
          height: 2px; 
          bottom: 1px; 
          position: absolute; 
          transform: scaleX(0); 
          will-change: transform; 
          transform-origin: right; 
          backface-visibility: hidden; 
          width: calc(100% - 0.27vw);
          transition: transform .4s ease-out,background 500ms linear,-webkit-transform .4s ease-out;

        }

        &:hover:before {

          -webkit-transform: scaleX(1);
          transform: scaleX(1);
          -webkit-transform-origin: left;
          transform-origin: left;

        }

        &.dark {

          color: white;

          &:before {

            background: white;
          
          }
            
        }

        &.active {

          color: white;
          
        }

        @media screen and (max-width: $breakpoint-palm-portrait) {

          font-size: 1.25em;
          text-transform: capitalize;
          padding: 10px;
          color: #760D0E !important;

          &.active {

            color: white !important;
            
          }
        
        }

      }  

    }

    .mini-cart {

      margin-right: 15px;
      margin-left: 50px;

      @media screen and (max-width: $breakpoint-palm-portrait) {

        margin-right: 0;
        margin-left: 0; 
        position: absolute;
        right: 17px;
        top: calc(50% - 29px);
        z-index: 3;

      }

      label {

        position: relative;
        display: block;
        z-index: 1;

        img {
          
          height: 50px;

          @media screen and (max-width: $breakpoint-palm-portrait) {

            height: 55px;
          
          }

        }

        span {

          position: absolute;
          top: 16px;
          left: 16px;
          color: white;
          background-color: transparent;
          font-weight: 900;

          @media screen and (max-width: $breakpoint-palm-portrait) {

            top: 19px;
            left: 18px;
          
          }

        }

        &.dark {

          img {

            filter: brightness(0) invert(1);

          }

          span {

            color: $primary;

          }

        }

      }

      input[type="checkbox"] {

        position: absolute;
        opacity: 1;
        z-index: -1;
        visibility: hidden;

      }

      input[type="checkbox"]:checked ~ .cart-modal {

        margin: 0;

      }

      input[type="checkbox"]:checked ~ label {
          
        z-index: 5;
        margin-top: -0x;
        font-size: 1.35em;
        font-weight: 900;
        
        img, span {

          display: none;

        }

      }

      input[type="checkbox"]:checked ~ label::after {

        content: "X";

      }
          
      .cart-modal {
          
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        right: 0; 
        margin: 0 -100vw 0 0;
        transition: all 200ms ease-in;
        z-index: 4;

        &.checked {

          margin: 0;
          
        }

        .cart-content {
              
          padding: 38px;
          width: 40vw;
          background-color: white;
          position: relative;
          height: 100vh;
          height: calc(var(--vh, 1vh) * 100);
          float: right;
          opacity: 1;
          list-style: none;

          @media screen and (max-width: $breakpoint-palm-portrait) {
        
            width: 100vw;
            padding: 27px 20px;
          
          }

          li {
                  
            .mini-cart__empty-message {

              margin-top: 30vh;
              font-size: 2.5em;

            }

          }

          h2 {

            margin-top: 0;
            font-size: 1.25em;

          }

          .mini-cart__list {
                  
            padding: 0;
            border-bottom: lightgray solid 0.5px;


            .mini-cart-item {

              display: flex;
              flex-direction: row;

              .cart-item-image {
                          
                flex: 1;
                margin-left: -15px;
                
                @media screen and (max-width: $breakpoint-palm-portrait) {
                  
                  margin-left: -27px;
                
                }

                img {
                              
                  height: 125px;
                  width: auto;

                }

              }

              .cart-item-details {

                padding: 38px 0;
                flex: 3;
                font-size: 0.9em;
                font-weight: 700;

                @media screen and (max-width: $breakpoint-palm-portrait) {

                  padding: 28px 0;
                
                }

                .mini-cart-item__column--main {

                  display: flex;
                  justify-content: space-between;

                  .woocommerce-Price-amount.amount {

                    display: flex;

                  }

                }

                .mini-cart-item__column--remove {
                              
                  display: flex;
                  justify-content: space-between;

                  .qty-toggle {

                    padding: 15px 0;

                  }
                              
                  a { 

                    color: black;
                    text-decoration: underline;
                    text-transform: none;
                    font-weight: 300;
                    padding: 15px 0;

                  }

                }

              }

            }

          }

          .cart-summary {

            position: absolute;
            bottom: 0;
            width: 86%;

            @media screen and (max-width: $breakpoint-palm-portrait) {
            
              width: 89%

            }

            .subtotal {

              display: flex;
              justify-content: space-between;
              margin-bottom: 20px;

              span {

                background-color: transparent;

              }

              .total {

                font-weight: 700;

              }

            }

            .cart-buttons-container {

              display: flex;
              flex-direction: row;
              margin-bottom: 40px;

              @media screen and (max-width: $breakpoint-palm-portrait) {
        
                flex-direction: column;
                margin-bottom: 20px;
          
              }

              a {

                width: 50%;
                padding: 13px;
                text-align: center;
                font-size: 0.8em;
                border: $primary solid 1px;

                @media screen and (max-width: $breakpoint-palm-portrait) {
                
                  width: 100%;
                  margin-bottom: 10px;

                }
                          
              }

              .btn-default {

                margin-right: 10px;
                color: $primary

              }

              .checkout {

                background-color: $primary;
                color: white;

              } 

            }

          }
      
        }
            
      }

    }

  }

  #mobile-pad {

    height: 70vh;
    width: 100vw;
    display: none;
    transform: translateY(-1px);

    &.menu {

      height: 32vh;

    }

    &.about {

      height: 20vh;

    }

    @media screen and (max-width: $breakpoint-palm-portrait) {
      
      display: block;

      &.contact, &.jobs, &.community, &.catering {
        
        display: none;
        
      }

    }

    rect {

      fill: #f6f6f6;
      height: 100%;
      width: 100%;

      &.menu {

        fill: $primary;

      }

      &.about {

        fill: #f8b529;

      }

    }

  }

  #morph { 

    width: 100vw; 
    height: 160vh; 
    top: -52vh; 
    left: 0; 
    position: absolute; 
    pointer-events: none; 
    // z-index: 9999; 
    z-index: -1;

    &.menu {

      top: -63vh;

    }

    &.about{

      top: -62vh;
      transform: scaleX(1.05);

    }

    &.gallery {

      top: -62vh;

    }

    @media screen and (max-width: $breakpoint-palm-portrait) {

      // top: 4vh;
      top: 5.5vh;

      &.menu {

        top: -32vh;
  
      } 
      
      &.about {

        top: -47vh;

        @media screen and (max-width: $breakpoint-mobile-portrait) {
          
          top: -40vh;
        
        }


      }

      &.gallery {

        // top: -33vh;
        top: -12vh;
        
      }

    }

    path {

      // transform: scaleY(1.145) translateY(-150px);
      // transform: translateY(-200px);
      // transform: scaleY(1.2) translateY(-200px);

      &.morph-img {

        transform: scale(1.05) translate(-82px, 0px);

        // transform: translateY(-350px);

      }

    }

  }

  defs {

    pattern {

      image {

        height: 100%;
        width: auto;
        transform: translateY(350px);
        
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        object-fit: cover;

      }
              
    }

  }

}