// Config
@import '../config/layering';
@import '../config/breakpoints';

/**
 * Components / Header
 */
.header {
    top: 0;
    z-index: $index-header;
    width: 100%;
    height: auto;
    padding: 100px 40px 50px;
    justify-content: space-between;

    @media screen and (max-width: $breakpoint-tablet-landscape) {
        padding: 30px 20px 25px;
    }

    @media screen and (max-width: $breakpoint-tablet-portrait) {
        padding: 20px;
    }

}

.header--condensed {
    padding: 20px 50px;
    transition: padding 500ms ease;
}

.header--fixed {
    position: fixed;
}

.header--stationary {
    position: absolute;
}

.header__inner {
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
    max-width: $breakpoint-desktop-large;
}

.header__col {
    flex: 1;
    align-self: flex-start;
}

.header__col--cart {
    text-align: right;
}

.header__logo {
    width: 100%;
    max-width: 280px;
    display: block;
    margin: auto;

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    @media screen and (max-width: $breakpoint-tablet-landscape) {
        max-width: 150px;
    }

    .header--condensed & {
        max-width: 150px;
    }

}
