// Config
@import '../config/breakpoints';
@import '../config/fonts';

// Utils
@import '../utils/functions/rem';

/**
 * Components / Section
 *
 * Generic section used mainly on the content page
 */
.section {}

.section__content {
    width: 100%;
    margin: auto;
}

.section__title {
    margin-top: 0;
    text-align: center;
    font-size: rem(100px);
    color: #ebaca6;
    font-weight: 200;
    word-break: break-all;
}

.section__links {
    width: 100%;
    height: auto;
    padding: 0;
    list-style: none;
    max-width: $breakpoint-laptop;
    margin: auto;
    text-align: center;
}

.section__link {
    display: inline-block;
    font-size: rem(22px);
    color: #51413a;
    font-weight: 300;
    margin: 0 10px;
    font-family: $fontstack-sans-primary;
    padding-bottom: 10px;

    @media screen and (max-width: $breakpoint-tablet-landscape) {
        font-size: rem(20px);
    }
}

.section__link--active {
    border-bottom: 1px solid #51413a;
}

.section-content {
    margin-top: 75px;
    padding: 100px;
    background-color: #f1e7e6;

    @media screen and (max-width: $breakpoint-tablet-portrait) {
        padding: 75px;
    }

    @media screen and (max-width: $breakpoint-palm-landscape) {
        padding: 25px;
    }

      /* Acordeon styles */
      .tabs {
          margin-top: 30px 0 0 20px;
        .tab {
            position: relative;
            margin-bottom: 1px;
            width: 100%;
            overflow: hidden;
            color: #51413a;
            padding: 0 0 1.4em 0;
    
            input {
                position: absolute;
                opacity: 0;
                z-index: -1;
            }
            
            label {
                font-size: 1.2em;
                position: relative;
                display: block;
                padding: 1.4em 0 0 1em;
                line-height: 3;
                border-top: 1px solid white;
                cursor: pointer;
            }
          }
        
          .tab-content {
            max-height: 0;
            overflow: hidden;
            -webkit-transition: max-height .35s;
            -o-transition: max-height .35s;
            transition: max-height .35s;
    
            p {
                margin: -23px 1em 2em 0.2em;
                color: #a8968d;
                line-height: 0;
            }
          }
         
          /* :checked */
          .tab input:checked ~ .tab-content {
            max-height: 100vh;
          }
          /* Icon */
          .tab label::after {
            font-size: 2em;
            font-weight: 100;
            position: absolute;
            right: 0;
            top: 50%;
            display: block;
            width: 3em;
            height: 3em;
            line-height: 0;
            text-align: center;
            -webkit-transition: all .35s;
            -o-transition: all .35s;
            transition: all .35s;
          }
          .tab input[type=checkbox] + label::after {
            content: "+";
            top: 53%;
          }
          .tab input[type=checkbox]:checked + label::after {
            content: "_";
            top: 50%;
          }
      }

}

.section-content__inner {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    color: #a8968d;
    font-family: $fontstack-sans-primary;

    p {
        font-weight: 300;
        font-family: $fontstack-sans-primary;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #000;
        font-weight: 300;
        font-size: rem(20px);
    }

}
