// Utils
@import '../utils/functions/rem';
@import '../utils/mixins/aspect-ratio';

// Config
@import '../config/breakpoints';
@import '../config/fonts';

/**
 * Modules / Contact
 */
.page--contact {
    
    section {

        height: 100%;
    }

    .intro {

        color: white;
        font-size: 1.2em;

    }

    .form-container {

        h1 {

            color: #5A3C35;

        }

        .wpcf7-form {

            width: 40%;
            margin: auto;
            text-align: left;
            display: flex;
            flex-wrap: wrap;

            p:nth-child(2) {

                text-align: center;
                width: 100%;

            }

            p:nth-child(3), p:nth-child(4), p:nth-child(6), p:nth-child(7), p:nth-child(10), p:nth-child(11) {

                width: 48%;
                margin-right: 5px;

                span, input, select {
                    width: 100%;
                }


            }
            
            p:nth-child(5), p:nth-child(8), p:nth-child(9), p:nth-child(12) {

                width: 100%;

                span, input, select, textarea {
                    width: 100%;
                }

            }
            
            p:nth-child(13) {

                text-align: center;
                width: 100%;

                &.wpcf7-form-control.wpcf7-submit {
                    

                }

            }

        }

    }

    .footer {

        visibility: hidden;

    }
}