// Utils
@import '../utils/functions/rem';
@import '../utils/mixins/aspect-ratio';

// Config
@import '../config/breakpoints';
@import '../config/fonts';

/**
 * Modules / Contact
 */
.page--contact, .page--jobs, .page--catering, .page--community {

    @media screen and (max-width: $breakpoint-palm-portrait) {

        .header {

            #morph {
                
                defs > pattern > image {

                    transform: scale(1.7, 0.8) translate(-446px, 55vh);

                }

            }

        }

        .intro > h1 {

            font-size: 2.5em;

        }
    
    }

    span, select, input, textarea {

        outline: none;
        background: #F4F3F0;

        &.wpcf7-form-control { 

            background-color: white !important;

            .first {

                margin-top: 20px;

            }

            .wpcf7-list-item {

                background-color: white !important;
                // height: 12px !important;
                display: flex;
                flex-direction: row;
                

                input {

                    height: 12px;
                    flex: 1;
                    margin-top: 5px;

                }

                .wpcf7-list-item-label {

                    flex: 7;
                    background-color: white !important;

                }

            }

        }

    }

    span, input {

        height: 45px;
        
        @media screen and (max-width: $breakpoint-palm-portrait) {

            height: 40px;

        }

    }

    input, select, textarea {

        margin-top: 10px;
        border: 0;
        border: lightgray solid 1.3px;

    }

    input[type="submit"] {

        padding: 30px 80px 40px 80px;

    }

    select {

        border-radius: 0;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        padding: 14px 40px 14px 20px;
        color: black;
        background-image: linear-gradient(45deg, transparent 50%, black 50%),linear-gradient(135deg, black 50%, transparent 50%);
        background-position: calc(100% - 25px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px);
        background-size: 10px 10px;
        background-repeat: no-repeat;
        font-size: 1.2em;

    }

    
    header {

       svg#morph {

        height: 100vh;
        top: -34vh;

        @media screen and (max-width: $breakpoint-palm-portrait) {
        
            top: -20vh;
            height: 65vh;

        }

       }


    }
    section {

        height: 100%;
    }

    .intro {

        color: white;
        font-size: 1em;
        height: 20%;
        padding-top: 0 !important;

        h1 {

            margin-top: 0;
            margin-bottom: 100px;

            @media screen and (max-width: $breakpoint-palm-portrait) {

                margin-bottom: 23px;

            }

        }

    }

    .form-container {

        position: relative;
        z-index: 2;
        padding-top: 9vh !important;
        padding-bottom: 10vh;

        @media screen and (max-width: $breakpoint-palm-portrait) {
            
            padding-top: 8vh !important;
            padding-bottom: 8vh;
        
        }

        h1 {

            color: #5A3C35;
            font-size: 2.2em;
            margin-bottom: 0;

            @media screen and (max-width: $breakpoint-palm-portrait) {
            
                max-width: 300px;
                margin: auto;

            }

        }

        .form-selector {
        
            transform: translateY(-10px);

        }

        .wpcf7-form, .form-selector {

            width: 42%;
            margin: auto auto 20px auto;

            @media screen and (max-width: $breakpoint-palm-portrait) {
            
                width: 85vw;
                transform: translateY(0px);
            
            }

            .form-selector-p {

                text-align: center;
                width: 100%;
                margin-bottom: 43px;

                @media screen and (max-width: $breakpoint-palm-portrait) {

                    margin-top: 0;
                    margin-bottom: 25px;

                }

                .form-selector-p-span {

                    select {

                        text-align-last: center;
                        border: none;
                        border-radius: 0;
                        background-color: white;
                        border-bottom: solid #5A3C35 1px;
                        -webkit-appearance: none;
                        -webkit-border-radius: 0px;
                        padding: 14px 40px 14px 20px;
                        color: #5A3C35;
                        background-image: linear-gradient(45deg, transparent 50%, #5A3C35 50%),linear-gradient(135deg, #5A3C35 50%, transparent 50%);
                        background-position: calc(100% - 20px) calc(1em + 2px),calc(100% - 10px) calc(1em + 2px);
                        background-size: 10px 10px;
                        background-repeat: no-repeat;
                        font-size: 1.4em;

                        @media screen and (max-width: $breakpoint-palm-portrait) {
                        
                            font-size: 1.1em;
                            // padding: 7px 20px 7px 7px;
                            padding: 14px 38px 8px 10px;

                        }

                    }

                }

            }

            .enquiry {

                text-align: left;
                display: flex;
                flex-wrap: wrap;

                p:nth-child(1), p:nth-child(2), p:nth-child(3), p:nth-child(4), p:nth-child(7), p:nth-child(9),  p:nth-child(10) {

                    width: 48%;
                    margin-right: 10px;
                    color: #5A3C35;
    
                    @media screen and (max-width: $breakpoint-palm-portrait) {
                        
                        width: 100%;
                        font-size: 0.9em;
                    
                    }
    
                    span, input, select {
    
                        width: 100%;
                        font-size: 1em;
                        font-weight: 300;
    
                    }
    
    
                }
                
                p:nth-child(5) {
    
                    width: 98%;
                    color: #5A3C35;
                    font-size: 0.9em;
    
                    span, input, select, textarea {
    
                        width: 100%;
                        font-size: 1em;
                        font-weight: 300;
    
                    }
    
                }
                
                p:nth-child(6) {
    
                    text-align: center;
                    width: 100%;
    
                    .wpcf7-form-control.wpcf7-submit {
                        
                        @media screen and (max-width: $breakpoint-palm-portrait) {
                            
                            width: 100%;
                            height: 10px !important;
                            background: #DB6166 !important;
                            color: white;
                            padding: 20px 80px 35px 80px;
    
                            input {
    
                                width: 100%;
    
                            }
                        
                        }
    
                    }
    
                }

                
            }

            .jobs {

                
                text-align: left;
                display: flex;
                flex-wrap: wrap;

                p:nth-child(1), p:nth-child(2), p:nth-child(3), p:nth-child(4) {

                    width: 48%;
                    margin-right: 10px;
                    color: #5A3C35;
    
                    @media screen and (max-width: $breakpoint-palm-portrait) {
                        
                        width: 100%;
                        font-size: 0.9em;
                    
                    }
    
                    span, input, select {
    
                        width: 100%;
                        font-size: 1em;
                        font-weight: 300;
    
                    }
    
    
                }
                
                p:nth-child(5), p:nth-child(6) {
    
                    width: 98%;
                    color: #5A3C35;
                    font-size: 0.9em;
    
                    span, input, select, textarea {
    
                        width: 100%;
                        font-size: 1em;
                        font-weight: 300;
    
                    }
    
                }
                
                p:nth-child(7) {
    
                    text-align: center;
                    width: 100%;
    
                    .wpcf7-form-control.wpcf7-submit {
                        
                        @media screen and (max-width: $breakpoint-palm-portrait) {
                            
                            width: 100%;
                            height: 10px !important;
                            background: #DB6166 !important;
                            color: white;
                            padding: 20px 80px 35px 80px;
    
                            input {
    
                                width: 100%;
    
                            }
                        
                        }
    
                    }
    
                }

            }

            .community {

                text-align: left;
                display: flex;
                flex-wrap: wrap;

                p:nth-child(1), p:nth-child(2), p:nth-child(3), p:nth-child(4) {

                    width: 48%;
                    margin-right: 10px;
                    color: #5A3C35;
    
                    @media screen and (max-width: $breakpoint-palm-portrait) {
                        
                        width: 100%;
                        font-size: 0.9em;
                    
                    }
    
                    span, input, select {
    
                        width: 100%;
                        font-size: 1em;
                        font-weight: 300;
    
                    }
    
    
                }
                
                p:nth-child(5), p:nth-child(6) {
    
                    width: 98%;
                    color: #5A3C35;
                    font-size: 0.9em;
    
                    span, input, select, textarea {
    
                        width: 100%;
                        font-size: 1em;
                        font-weight: 300;
    
                    }
    
                }
                
                p:nth-child(7) {
    
                    text-align: center;
                    width: 100%;
    
                    .wpcf7-form-control.wpcf7-submit {
                        
                        @media screen and (max-width: $breakpoint-palm-portrait) {
                            
                            width: 100%;
                            height: 10px !important;
                            background: #DB6166 !important;
                            color: white;
                            padding: 20px 80px 35px 80px;
    
                            input {
    
                                width: 100%;
    
                            }
                        
                        }
    
                    }
    
                }

            }

            .catering {

                text-align: left;
                display: flex;
                flex-wrap: wrap;

                p:nth-child(1), p:nth-child(2), p:nth-child(3), p:nth-child(4), p:nth-child(5), p:nth-child(6) {

                    width: 48%;
                    margin-right: 10px;
                    color: #5A3C35;
    
                    @media screen and (max-width: $breakpoint-palm-portrait) {
                        
                        width: 100%;
                        font-size: 0.9em;
                    
                    }
    
                    span, input, select {
    
                        width: 100%;
                        font-size: 1em;
                        font-weight: 300;
    
                    }
    
    
                }
                
                p:nth-child(7), p:nth-child(8) {
    
                    width: 98%;
                    color: #5A3C35;
                    font-size: 0.9em;
    
                    span, input, select, textarea {
    
                        width: 100%;
                        font-size: 1em;
                        font-weight: 300;
    
                    }
    
                }
                
                p:nth-child(9) {
    
                    text-align: center;
                    width: 100%;
    
                    .wpcf7-form-control.wpcf7-submit {
                        
                        @media screen and (max-width: $breakpoint-palm-portrait) {
                            
                            width: 100%;
                            height: 10px !important;
                            background: #DB6166 !important;
                            color: white;
                            padding: 20px 80px 35px 80px;
    
                            input {
    
                                width: 100%;
    
                            }
                        
                        }
    
                    }
    
                }

            }

        }

    }

    #shop-foot-link {

        span {
            
            background-color: transparent;
            
        }

    }

    .footer {

        // height: 80vh;
        // visibility: hidden;

        @media screen and (max-width: $breakpoint-palm-portrait) {

            height: 50vh !important;

        }

        .footer-links {

            margin-top: 50vh;

            @media screen and (max-width: $breakpoint-palm-portrait) {

                margin-top: 10vh;

            }

        }

    }
}