// Config
@import '../config/fonts';
@import '../config/breakpoints';

// Functions
@import '../utils/functions/rem';

// Local Variables
$ritual-header-color: #ebaca6;

/**
 * Modules / Ritual
 */
.ritual {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.ritual-stage {
    position: relative;
    width: 100%;
    height: 100vh;
}

.ritual-stage--one {
    background: linear-gradient(#ffffff 50%, #efe7e6 50%);
}

.ritual-stage--two {
    background-color: #efe7e6;
}

.ritual-stage--three {
    background-color: #ebd4d0;
}

.ritual-stage--four {
    background-color: #f3dfdc;
}

.ritual-stage--five {
    background: linear-gradient(#ebd4d0 50%, #ffffff 50%);
}

.ritual-stage__content {
    z-index: 2;
    position: relative;
    top: 50%;
    width: 100%;
    max-width: $breakpoint-tablet-landscape;
    min-height: 75vh;
    margin: 0 auto;
    transform: translateY(-50%);

    @media screen and (max-width: $breakpoint-tablet-portrait) {
        min-height: 55vh;
        font-size: rem(90px);
    }

    .ritual-stage--one & {
        height: 100vh;

        @media screen and (max-width: $breakpoint-palm-portrait) {
            min-height: 55vh;
        }
        @media screen and (max-width: $breakpoint-tablet-portrait + 1) and (min-width: $breakpoint-tablet-portrait) {
            min-height: 50vh;
        }
        .ritual-stage__title {
            top: 50vh !important;
        }
        .ritual-stage__subtitle {
            bottom: 50vh!important;
        }
        @media only (max-width: $breakpoint-laptop - 1) {
            .ritual-stage__title {
                margin-top: -2.9em;
            }
            .ritual-stage__subtitle {
                margin-bottom: -10em;
            }
        }
        @media only (min-width: $breakpoint-laptop) and (max-width: $breakpoint-desktop) {
            .ritual-stage__title {
                margin-top: -2.7em!important;
            }
            .ritual-stage__subtitle {
                margin-bottom: -20em;
            }
        }
        @media only (min-width: $breakpoint-desktop + 1) {
            .ritual-stage__title {
                margin-top: -2.5em;
            }
            .ritual-stage__subtitle {
                margin-bottom: -20em;
            }
        }

        //@media (max-width: $breakpoint-tablet-landscape - 1) {
        //    .ritual-stage__title {
        //        top: 50vh !important;
        //        margin-top: -2em;
        //    }
        //}
        //
        //@media (min-width: $breakpoint-tablet-landscape) and (max-width: $breakpoint-desktop - 1) {
        //    .ritual-stage__title {
        //        top: 50vh !important;
        //        margin-top: -2em;
        //    }
        //}
        //@media screen and (min-width: $breakpoint-desktop) {
        //    .ritual-stage__title {
        //        top: 50vh !important;
        //        margin-top: -2em;
        //    }
        //}
        //@media screen and (min-width: $breakpoint-desktop-large) {
        //    .ritual-stage__title {
        //        top: 50vh !important;
        //        margin-top: -2em;
        //    }
        //}

    }

    .ritual-stage--two & {
        text-align: left;

        @media screen and (max-width: $breakpoint-palm-portrait) {
            min-height: 100vh;
            .ritual-stage__info {
                margin-bottom: 65vh;
                position: relative;
                top: 15vh !important;
            }
        }

        @media screen and (max-width: $breakpoint-tablet-portrait + 1) and (min-width: $breakpoint-tablet-portrait) {
            min-height: 90vh;
            .ritual-stage__info {
                transform: translateY(-50%);
                height: 100vh;
                max-height: 100vh !important;
                .ritual-stage__info {
                    margin-bottom: 122vh;
                    position: relative;
                    top: 66vh !important;
                }
            }
        }

    }

    .ritual-stage--three & {

        @media screen and (max-width: $breakpoint-palm-portrait) {
            min-height: 85vh;
            .ritual-stage__title {
                margin-bottom: 65vh;
                top: 15vh !important;
            }
            .ritual-stage__info {
                margin-top: 0px;
            }
        }

        @media screen and (max-width: $breakpoint-tablet-portrait + 1) and (min-width: $breakpoint-tablet-portrait) {
            min-height: 100vh;
            .ritual-stage__title {
                margin-bottom: 65vh;
                top: 20vh !important;
            }
            .ritual-stage__info {
                transform: translateY(-50%);
                width: 100vw;
                max-width: 100vw;
                margin-left: 20vw;
                margin-right: 20vw;

                p {
                    width: 60vw;
                }

                hr {
                    width: 60vw;
                }
            }
        }

    }

    .ritual-stage--four & {

        @media screen and (max-width: $breakpoint-palm-portrait) {
            min-height: 90vh;
            .ritual-stage__info {
                margin-bottom: 65vh;
                position: relative;
                top: 10vh !important;
            }
        }

        @media screen and (max-width: $breakpoint-tablet-portrait + 1) and (min-width: $breakpoint-tablet-portrait) {
            min-height: 90vh;
            .ritual-stage__info {
                transform: translateY(-50%);
                height: 100vh;
                max-height: 100vh !important;
                .ritual-stage__info {
                    margin-bottom: 122vh;
                    position: relative;
                    top: 66vh !important;
                }
            }
        }

    }

    .ritual-stage--five & {
        .ritual-stage__info.ritual-stage__info--end {
            bottom: auto!important;
            z-index: 10;
        }
        @media screen and (max-width: $breakpoint-palm-portrait) {
            min-height: 85vh;
            .ritual-stage__title {
                margin-bottom: calc(45vh + 50px);
                position: relative;
                top: 20vh !important;
            }
        }

        @media screen and (max-width: $breakpoint-tablet-portrait) {
            min-height: 105vh;
            .ritual-stage__title {
                margin-bottom: calc(45vh + 50px);
                position: relative;
                top: 20vh !important;
            }
        }

    }

}

.ritual-stage__title,
.ritual-stage__subtitle,
.ritual-stage__step,
.ritual-stage__instructions {
    display: block;
    text-align: center;
    user-select: none;
    pointer-events: none;
    left: 0;
    right: 0;
}

.ritual-stage__title {
    position: absolute;
    top: 0;
    z-index: 1;
    display: block;
    margin: 0 0 -50px;
    text-align: center;
    font-family: $fontstack-serif-secondary;
    font-weight: 500;
    font-size: rem(100px);
    color: $ritual-header-color;



    @media screen and (max-width: $breakpoint-tablet-landscape) {
        margin-top: 0;
        // font-size: rem(90px);
        font-size: 8vw;
    }

    @media screen and (max-width: $breakpoint-tablet-portrait) {
        font-size: 12vw;
    }

    // .ritual-stage--three & {

    //     @media screen and (max-width: $breakpoint-palm-portrait) {
    //         top: 50px;
    //     }

    // }

    // .ritual-stage--five & {

    //     @media screen and (max-width: $breakpoint-palm-portrait) {
    //         top: 70px;
    //     }

    // }

}

.ritual-stage__title--small {
    font-size: rem(48px);
    text-align: left;
    position: relative;
    margin: 10px 0;

    @media screen and (max-width: $breakpoint-tablet-portrait) {
        text-align: center;
        font-size: rem(38px);
        width: 100vw;
    }

}

.ritual-stage__step {
    font-size: rem(14px);
    font-family: $fontstack-sans-primary;
    text-transform: uppercase;
    font-weight: 400;
    transform: translateY(-50%) translateZ(0);
    opacity: 0;
    transition: opacity 750ms ease, transform 750ms ease;

    .active & {
        opacity: 1;
        transform: translateY(0) translateZ(0);
    }

    .ritual-stage__info & {
        text-align: left;
        font-size: rem(12px);
        color: #51413a;

        @media screen and (max-width: $breakpoint-tablet-portrait) {
            text-align: center;
            width: 100vw;
        }

    }

}

.ritual-stage__instruction {
    position: relative;
    opacity: 0;
    display: block;
    transform: translateY(-10%) translateZ(0);
    transition: opacity 750ms ease, transform 750ms ease;
    transition-delay: 300ms;

    .active & {
        opacity: 1;
        transform: translateY(0) translateZ(0);
    }

}

.ritual-stage__subtitle {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: rem(16px);
    color: #a8968d;
    font-family: $fontstack-sans-primary;
    font-weight: 400;
    margin: auto;
    max-width: 350px;

}

.ritual-stage__info {
    padding-right: 20px;
    padding-left: 20px;
}
.ritual-stage__info * {
    width: 100%;
}
.ritual-stage__info p, .ritual-stage__info small {
    width: 100%!important;
}
.ritual-stage__info {
    position: relative;
    // top: 50%;
    // left: 0;
    width: 100%;
    max-width: 300px;
    // transform: translateY(-50%);
    transform: translate(20px, 50%);
    text-align: center;
    font-size: rem(16px);
    color: #a8968d;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;

    hr {
        margin: 0;
        border: 0;
        background-color: #FFFFFF;
        width: 80%;
        height: 1px;
        opacity: 0;
        transition: opacity 750ms ease;
        transition-delay: 500ms;


        .active & {
            opacity: 1;
        }

    }

    p {
        display: block;
        max-width: 250px;
        width: 100%;
        margin: 15px 0;
        font-family: $fontstack-sans-primary;
        transform: translateY(-10%) translateZ(0);
        transition: opacity 750ms ease, transform 750ms ease;
        opacity: 0;
        transition-delay: 500ms;

        .active & {
            opacity: 1;
            transform: translateY(0) translateZ(0);
        }

        @media screen and (max-width: $breakpoint-tablet-portrait) {
            max-width: $breakpoint-tablet-portrait;
            width: 100vw;
            text-align: center;
        }

    }

    h3 {
        display: block;
        width: 100%;
        margin: 0 auto 10px;
        font-family: $fontstack-serif-secondary;
        font-weight: 200;
        transform: translateY(-10%) translateZ(0);
        transition: opacity 750ms ease, transform 750ms ease;
        opacity: 0;
        font-size: rem(26px);
        transition-delay: 300ms;
        color: #51413a;

        .active & {
            opacity: 1;
            transform: translateY(0) translateZ(0);
        }

    }

    @media screen and (max-width: $breakpoint-palm-portrait) {
        position: absolute;
        top: auto;
        bottom: 0;
        max-width: 100%;
        transform: translateY(0);
    }

    .ritual-stage--two & {
        text-align: left;

        p {
            margin: 0;
        }

        @media screen and (max-width: $breakpoint-palm-portrait) {
            bottom: 10px;

            p {
                text-align: center;
                margin-top: 50vh;
            }

        }

    }

    .ritual-stage--three & {
        padding: 10px;

        hr {
            width: 100%;
        }

        @media screen and (max-width: $breakpoint-palm-portrait) {
            text-align: center;
            padding: 10px 40px;
            bottom: 24px;

            hr {
                margin: 20px auto;
            }

            p {
                text-align: center;
                max-width: 100%;
                margin: 0 auto;
                font-size: rem(13px);
            }


        }

    }

    .ritual-stage--four & {

        @media screen and (max-width: $breakpoint-palm-portrait) {

            p {
                //margin: auto;
                margin-top: 50vh;
                text-align: center;
            }

        }

    }

}

.ritual-stage__info--end {
    transform: translate(2%, -20%);
    text-align: center;

    h3 {
        font-size: 0.9rem;
    }

    p {
        margin: auto;
        font-size: 0.7em;
    }


    @media screen and (min-width: $breakpoint-mobile-portrait) {
        transform: translate(0%, 40%);
        text-align: center;
    
        h3 {
            font-size: 1.4rem;
        }
    
        p {
            margin: 0 auto 15px auto;
            font-size: 0.9em;
        }
    }

    @media screen and (min-width: $breakpoint-palm-portrait) {
        transform: translate(0%, 22%);
        text-align: center;

        h3 {
            font-size: 1.4rem;
        }
    
        p {
            margin: 0 auto 15px auto;
            font-size: 0.9em;
        }
    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        transform: translate(79%, 38%);
        text-align: center;
    
        h3 {
            font-size: 1.8rem;
        }
    
        p {
            margin: 0 auto 16px auto;
            font-size: 1.2em;
            width: 100%;
        }
    }

    @media screen and (min-width: $breakpoint-tablet-landscape) {
        text-align: left;
        transform: translate(0%, -36%);
    }

    @media screen and (min-width: $breakpoint-laptop) {
        width: 300px;
        transform: translate(-96px, 24vh);
        text-align: left;

        h3 {
            font-size: 1.8rem;
        }
    
        p {
            margin: 0 0 16px 0;
            font-size: 1.2em;
        }
    }

}

.ritual-stage__accent {
    width: 100%;
    max-width: 150px;
    height: auto;
    display: block;
    margin: auto;
    transform: translateY(0) translateZ(0);
    transition: opacity 750ms ease;
    transition-delay: 750ms;
    opacity: 0;
    animation: rotating 6s linear infinite;

    .active & {
        opacity: 1;
        transform: translateY(0) translateZ(0);
    }

    @media screen and (max-width: $breakpoint-palm-portrait) {
        position: absolute;
        top: -100%;
        left: 20%;
        z-index: 9999;
    }

}

.ritual-stage__spoon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 140px;
    height: auto;
    opacity: 0;
    transition: opacity 750ms ease, transform 750ms ease;
    transition-delay: 500ms;
    z-index: 5;

    .active & {
        opacity: 1;
        transform: translate(15px, -101px) rotate(15deg);

        // 635px is the height of an iPhone X, because on a
        @media screen and (min-width: $breakpoint-mobile-portrait) and (min-height: 636px) {
            width: 180px;
            //transform: translate(36px, -116px) rotate(16deg);
            transform: translate(30px, -140px) rotate(16deg);
        }
        @media screen and (min-width: $breakpoint-mobile-portrait) and (max-height: 635px){
            width: 180px;
            //transform: translate(36px, -116px) rotate(16deg);
            transform: translate(25px, -175px) rotate(16deg);
            border: 1px solid red;
        }
    
        @media screen and (min-width: $breakpoint-palm-portrait) {
            width: 200px;
            transform: translate(30px, -140px) rotate(16deg);
            //transform: translate(45px, -115px) rotate(15deg);
        }
    
        @media screen and (min-width: $breakpoint-tablet-portrait) {
            width: 310px;
            transform: translate(48px, -224px) rotate(15deg);
        }
    
        @media screen and (min-width: $breakpoint-tablet-landscape) {
            width: 350px;
            transform: translate(-145px, -123px) rotate(6deg);
        }
    
        @media screen and (min-width: $breakpoint-laptop) {
            width: 300px;
            transform: translateX(-100px);
        }
        @media screen and (min-width: $breakpoint-tablet-landscape) and (max-height: $breakpoint-palm-landscape) {
            transform: translate(-120px, 32px) rotate(3deg);
            width: 300px;
        }
    }

    // @media screen and (max-width: $breakpoint-palm-portrait) {
    //     width: 150px;
    //     bottom: 100px;
    //     right: -99px;
    //     z-index: -10;
    // }

    // @media screen and (min-width: $breakpoint-mobile-portrait) {
    //     width: 300px;
    // }

    // @media screen and (min-width: $breakpoint-palm-portrait) {
    //     width: 300px;
    // }

    // @media screen and (min-width: $breakpoint-tablet-portrait) {
    //     width: 300px;
    // }

    // @media screen and (min-width: $breakpoint-tablet-landscape) {
    //     width: 300px;
    // }

    // @media screen and (min-width: $breakpoint-tablet-portrait) {
    //     width: 300px;
    // }

    // @media screen and (min-width: $breakpoint-laptop) {
    //     width: 300px;
    // }

}

.ritual-stage__btn {
    padding-right: 7px;
    margin: 15px auto 0 auto;
    transition: opacity 750ms ease;
    transition-delay: 750ms;
    color: #605E5E;
    width: 200px;
    text-align: center;
    font-size: 0.6em;
    font-weight: 300;

    @media screen and (min-width: $breakpoint-mobile-portrait) {
        font-size: 0.8em;
        margin-top: 25px;
    }

    @media screen and (min-width: $breakpoint-palm-portrait) {
        font-size: 1em;
        margin-top: 30px;
    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        font-size: 1.1em;
        margin-top: 35px;
    }

    @media screen and (min-width: $breakpoint-tablet-landscape) {
        font-size: 1.2em;
        margin-top: 40px;
    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        font-size: 1.2em;
        margin-top: 25px;
    }

    @media screen and (min-width: $breakpoint-laptop) {
        font-size: 1.2em;
        font-weight: 300;
        margin: 45px 0 0 0;
        transform: translateX(-23px)

    }

    .ritual-stage--one & {
        z-index: 99;
        position: absolute;
        bottom: 10%;
        width: 100%; 
        padding: 0 35%;
        font-size: 0.7em;

        @media screen and (min-width: $breakpoint-mobile-portrait) {
            bottom: 15%;
            width: 100%; 
            padding: 0 150px;
            font-size: 0.7em;
        }

        @media screen and (min-width: $breakpoint-tablet-portrait) {
            bottom: 10%;
            width: 100%; 
            padding: 0 40%;
            font-size: 0.7em;
        }

        @media screen and (min-width: $breakpoint-laptop) {
            bottom: 62px;
            right: 7px;
            width: 10%;
            font-size: 1em;
            padding: 0;
        }

    }

    .active & {
        opacity: 1;
    }

}

.ritual-background,
.ritual-wave {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.ritual-productWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;

    @media screen and (max-width: $breakpoint-palm-portrait) {
        width: 80%;
    }
}

.ritual-product__packaging {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 10;
    width: 90%;
    max-width: 480px;
    height: auto;
    margin: auto;
    transform: translateY(-50%);

    img {
        position: relative;
        z-index: 1;
        margin: 0;
        display: block;
        width: 100%;
        height: auto;
        user-select: none;
        pointer-events: none;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 500ms ease, transform 750ms ease;

        &.torn {
            transform: translateY(100%);
            opacity: 0;
            transition-delay: 750ms;
        }


    }

    canvas {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        display: block;
        margin: 0 auto;
    }

}

.ritual-product__unwrapped {
    position: fixed;
    //position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    width: auto;
    height: auto;
    margin: 0 auto;
    user-select: none;
    pointer-events: none;
    transition: opacity 300ms ease;

    &.dissolving {
        opacity: 0;
    }

}

.ritual-triangle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.ritual-pour {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.ritual-pour__inner {
    width: 100%;
    height: 0%;
    background-color: #ebd4d0;

    .triggered & {
        animation: ritual-pour 5000ms forwards;
        animation-delay: 1000ms;
        animation-timing-function: cubic-bezier(.79, .48, .7, .98);
    }

}

.ritual-bowl {
    //top: 50vh!important;
    //position: fixed;
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    z-index: 8;
    width: 250px;
    height: 250px;
    transition: opacity 750ms ease;

    @media screen and (min-width: $breakpoint-mobile-portrait) {
        width: 280px;
        height: 280px;
    }

    @media screen and (min-width: $breakpoint-palm-portrait) {
        width: 320px;
        height: 320px;
    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        width: 480px;
        height: 480px;
    }

    @media screen and (min-width: $breakpoint-tablet-landscape) {
        width: 500px;
        height: 500px;
    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        width: 500px;
        height: 500px;
    }

    @media screen and (min-width: $breakpoint-laptop) {
        width: 600px;
        height: 600px;
    }

    &.dissolving {
        opacity: 0;
    }

}

.ritual-dissolving {
    position: absolute;
    left: 0;
    right: 0;
    width: 250px;
    height: 250px;
    margin: auto;
    z-index: 9;

    @media screen and (min-width: $breakpoint-mobile-portrait) {
        width: 280px;
        height: 280px;
    }

    @media screen and (min-width: $breakpoint-palm-portrait) {
        width: 320px;
        height: 320px;
    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        width: 480px;
        height: 480px;
    }

    @media screen and (min-width: $breakpoint-tablet-landscape) {
        width: 500px;
        height: 500px;
    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        width: 500px;
        height: 500px;
    }

    @media screen and (min-width: $breakpoint-laptop) {
        width: 600px;
        height: 600px;
    }

}

.ritual-dissolving__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 500ms ease;

    &.dissolving {
        opacity: 1;
    }

}

.ritual-dissolving__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1250ms ease;
    transform-origin: center;

    &.dissolving {
        transition: opacity 1000ms ease;
        opacity: 1;
    }

}

.ritual-dissolving__stir {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    //left: 5px;
    right: 0;
    margin: auto;
    transition: opacity 300ms ease;

    &.hide {
        opacity: 0;
    }

}


.ritual-flavours {
    display: block;
    width: 100%;
    // margin-bottom: 33px;
    padding-right: 20px;

    @media screen and (min-width: $breakpoint-mobile-portrait) {
        margin-top: -10px;
    }

    @media screen and (min-width: $breakpoint-palm-portrait) {

    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        
    }

    @media screen and (min-width: $breakpoint-tablet-landscape) {
        
    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        
    }

    @media screen and (min-width: $breakpoint-laptop) {
        font-size: 1.2em;
        font-weight: 300;
        transform: translate(-15px, 11px);
    }
    
}

.ritual-flavour {
    position: relative;
    width: 60px;
    // width: 10px;
    height: auto;
    display: inline-block;
    margin: 0 -17px 0 0;
    // margin: 0 26px 0 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 750ms ease, transform 750ms ease;
    vertical-align: top;

    .active & {
        opacity: 1;
        transform: translateY(0);
    }

    @media screen and (min-width: $breakpoint-mobile-portrait) {

    }

    @media screen and (min-width: $breakpoint-palm-portrait) {

    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        
    }

    @media screen and (min-width: $breakpoint-tablet-landscape) {
        
    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        
    }

    @media screen and (min-width: $breakpoint-laptop) {
        margin: 0 -8px 0 0;
    }

}

.ritual-flavour__colour {
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
    display: block;
    margin: auto;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;

    @media screen and (min-width: $breakpoint-mobile-portrait) {

    }

    @media screen and (min-width: $breakpoint-palm-portrait) {
        width: 32px;
        height: 32px;
    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        
    }

    @media screen and (min-width: $breakpoint-tablet-landscape) {
        
    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        
    }

    @media screen and (min-width: $breakpoint-laptop) {
        width: 35px;
        height: 35px;
    }
}

.ritual-flavour__name {
    text-align: center;
    max-width: 50px;
    display: block;
    margin: 10px auto 0;
    font-size: rem(9px);
    font-family: $fontstack-sans-primary;
    opacity: 0;
    transition: opacity 250ms ease;
    opacity: 1;

    @media screen and (min-width: $breakpoint-mobile-portrait) {

    }

    @media screen and (min-width: $breakpoint-palm-portrait) {

    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        
    }

    @media screen and (min-width: $breakpoint-tablet-landscape) {
        
    }

    @media screen and (min-width: $breakpoint-tablet-portrait) {
        
    }

    @media screen and (min-width: $breakpoint-laptop) {
        font-size: rem(10px);
    }

}

@keyframes ritual-pour {

    from { height: 0%; }
    to { height: 100%; }

}

@keyframes rotating {

  from {
      transform: translateY(0) translateZ(0) rotate(0deg);
  }

  to {
      transform: translateY(0) translateZ(0) rotate(360deg);
  }

}
