// Config
@import '../config/breakpoints';

/**
 * Modules / Shop
 */
// .shop {
//     margin-top: 180px;
//     background-color: red;

//     @media screen and (max-width: $breakpoint-tablet-portrait) {
//         padding: 25px;
//     }

//     @media screen and (max-width: $breakpoint-palm-portrait) {
//         margin-top: 80px;
//         padding: 15px;
//     }

// }

// .shop__products {
//     padding-bottom: 150px;
//     height: 100%;
//     overflow-x: visible;
//     margin: 0 auto;
//     padding: 20px;
//     width: 100%;
//     max-width: $breakpoint-laptop-large;

//     @media screen and (max-width: $breakpoint-palm-portrait) {
//         overflow-x: hidden;
//     }
// }

.page--shop {

    overflow: scroll;

    // .footer {

    //     svg {

    //       display: none;

    //     }

    //     p {

    //       color: $primary;

    //     }

    //     a {
          
    //       color: $primary;

    //     }

    // }

    .intro {

      padding-left: 30%;
      padding-right: 30%;
      padding-top: 2vh !important;

      h1 {

        font-size: 3.9em;

      }

      p {

        font-size: 0.9em;
        margin-top: 20px;

      }

    }

    .primary-filter, .secondary-filter {
    
      display: flex;
      justify-content: center;
      color: #CEC9CB;
      text-decoration: none;

      .filter-list {

				list-style: none;
        display: flex;
        flex-direction: row;
        max-width: 100%;

        .list-item {

          margin-right: 20px;

          a {

            color: #CEC9CB;
            text-decoration: none;
            font-size: 1.3em;

          }

          &.active {

            a {

              color: white;
              text-decoration: underline;

            }

          }

        }

      }

		}
		
		.primary-filter {

			margin-top: -69vh;
			z-index: 0;
			position: relative;

		}

    .secondary-filter {

			position: relative;
			margin-top: 20.5vh;
      
      .filter-list {

        .list-item {

          &.active {

            a {

							color: #5A3C35;
							text-decoration: underline;

						}

          }

        }

      }

    }

    .shop__products {

      padding-top: 6vh !important;
      padding-right: 11vw;
      padding-left: 11vw;
      height: 105vh !important;

      .product-list {

        .product-excerpt {

          margin-top: 0;

          .product-excerpt__inner {

            .product-excerpt__image {

              width: 355px !important;
              height: auto;
              margin-top: 0;

            }
          }

        }

      }

    }

    #shop-foot-link {

      .journey-link__url {

        top: -19vh;
        
      }

    }

  }
