// Config
@import '../config/breakpoints';

/**
 * Modules / Shop
 */
// .shop {
//     margin-top: 180px;
//     background-color: red;

//     @media screen and (max-width: $breakpoint-tablet-portrait) {
//         padding: 25px;
//     }

//     @media screen and (max-width: $breakpoint-palm-portrait) {
//         margin-top: 80px;
//         padding: 15px;
//     }

// }

// .shop__products {
//     padding-bottom: 150px;
//     height: 100%;
//     overflow-x: visible;
//     margin: 0 auto;
//     padding: 20px;
//     width: 100%;
//     max-width: $breakpoint-laptop-large;

//     @media screen and (max-width: $breakpoint-palm-portrait) {
//         overflow-x: hidden;
//     }
// }

.page--shop {

    overflow: scroll;

    // .footer {

    //     svg {

    //       display: none;

    //     }

    //     p {

    //       color: $primary;

    //     }

    //     a {
          
    //       color: $primary;

    //     }

    // }

    .intro {

      padding-left: 30%;
      padding-right: 30%;
      padding-top: 2vh !important;

      @media screen and (max-width: $breakpoint-palm-portrait) {
        
        padding: 0;
        height: 30vh;

      }

      h1 {

        font-size: 3.9em;

        @media screen and (max-width: $breakpoint-palm-portrait) {
          
          font-size: 2.2em;

        }

      }

      p {

        font-size: 0.9em;
        margin-top: 20px;
        
        @media screen and (max-width: $breakpoint-palm-portrait) {
          
          max-width: 70vw;
          margin: 20px auto auto auto;

        }

      }

    }

    .primary-filter > .filter-list > .list-item {

      @media screen and (max-width: $breakpoint-palm-portrait) {
        
        a {

          opacity: 0.6;

        }

        &.active {

          a {

            opacity: 1;

          }

          // &::before {

          //   content:'';
          //   width: 200%;
          //   height:100%;  
          //   position: absolute;
          //   left: calc(-200% - 20px);
          //   top:0;
          //   background:linear-gradient(to left, transparent 1px, $primary);

          // }

          &+li {

            a {

              &::before {

                content:'';
                width:100%;
                height:100%;    
                position:absolute;
                left:0;
                top:0;
                background:linear-gradient(to right, transparent 1px, $primary);

              }

            }

          }

        }

      }

    }

    .primary-filter, .secondary-filter {
    
      display: flex;
      justify-content: center;
      color: #CEC9CB;
      text-decoration: none;

      .filter-list {

				list-style: none;
        display: flex;
        flex-direction: row;
        max-width: 100%;

        @media screen and (max-width: $breakpoint-palm-portrait) {

          padding-inline-start: 0px;
          overflow-x: scroll;
          overflow-y: hidden;
          width: 90vw;

        }

        .list-item {

          margin-right: 20px;
          
          @media screen and (max-width: $breakpoint-palm-portrait) {

            max-width: 100%;
            margin-right: 0;
            text-align: center;
            white-space: nowrap;
            margin-right: 20px;
            position: relative;

          }

          a {

            color: #CEC9CB;
            text-decoration: none;
            font-size: 1.3em;

          }

          &.active {

            a {

              color: white;
              text-decoration: underline;

            }

          }

        }

      }

    }
    
		
		.primary-filter {

			margin-top: -69vh;
			z-index: 0;
      position: relative;
      
      @media screen and (max-width: $breakpoint-palm-portrait) {
        
        display: none;

      }

		}

    .secondary-filter {

			position: relative;
      margin-top: 20.5vh;
      
      @media screen and (max-width: $breakpoint-palm-portrait) {

        display: none;
        margin-top: 10.5vh;

      }
      
      .filter-list {

        .list-item {

          &.active {

            a {

							color: #5A3C35;
							text-decoration: underline;

						}

          }

        }

      }

    }

    #scroll-container{
      
      display: none;

      @media screen and (max-width: $breakpoint-palm-portrait) {
        
        display: block;
        overflow: auto;
        max-width: 90vw;
        margin: auto;
        margin-top: -2vh;
        height: 50px;
        position: relative;
        &::before {

          content: "";
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 0;
          pointer-events: none;
          background-image: linear-gradient(to right, transparent 55vw, $primary),
          linear-gradient(to left, transparent 55vw, $primary);
          width: 90vw;
          height: 4em;

        }

      }
   
    }

    .wrap-container{

      position: relative;
      margin: auto;
      overflow: auto;
      color: white;
      
      ul {

        transition: transform .3s;
        display: flex;
        flex-direction: row;
        padding-inline-start: 0;
        list-style: none;

      }

      li {
        
        width: auto;
        white-space: nowrap;
        margin-right: 20px;
        transition: transform .3s;

        &:nth-child(1) {

          // display: none;
          order: 1;

        }

        &:nth-child(2) {
          order: 1;
        }

        &:nth-child(3) {

          order: 4;

        }

        &:nth-child(4) {

          order: 5;

        }

        &.list-item.active {

          order: 2;

          a {

            text-decoration: underline;

          }

        }

        a {

          color: white;
          text-decoration: none;
          font-size: 1.3em;

        }

      }

      ul li .item{

        position: relative;
        transition: transform 200ms;
        display: inline-block;

      }
      
    }

    .shop__products {

      padding-top: 6vh !important;
      padding-right: 11vw;
      padding-left: 11vw;
      height: 105vh !important;

      @media screen and (max-width: $breakpoint-palm-portrait) {
        
        padding: 0;
        padding-top: 0 !important;
        height: auto !important;
        margin-bottom: 10vh;
        margin-top: -230px;

      }

      .select-dropdown-filter {

        display: none;
        
        @media screen and (max-width: $breakpoint-palm-portrait) {
          
          display: block;
          margin-top: 40vh;
  
        }
  
        .select {
  
          display: block;
          margin: auto;
          width: 250px;
          min-width: 250px;
          margin-top: 12vh;
          text-align: center;
          background-color: white;
          color: brown;
          border: solid 1px brown;
          border-radius: 50px;
          padding: 20px 0;
          height: 65px;
  
        }

        .select::after {

          content: '\25BC';
          position: absolute;
          right: 23vw;
          top: 22px;
          pointer-events: none;
          
        }

        #slct {

          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          appearance: none;
          outline: 0;
          box-shadow: none;
          background-image: none;
          overflow: hidden;
          border: 0;
          background: none;
          width: 100%;
          height: 100%;
          text-align-last:center;
          text-decoration: underline;

        }
  
      }

      .product-list {

        .product-excerpt {

          margin-top: 0;

          .product-excerpt__inner {

            @media screen and (max-width: $breakpoint-palm-portrait) {

              height: 52vh;

            }

            .product-excerpt__image {

              width: 355px !important;
              margin: auto;

              @media screen and (max-width: $breakpoint-palm-portrait) {

                width: 80vw !important;
                margin-bottom: 0;

              }

              height: auto;
              margin-top: 0;

            }
          }

        }

      }

    }

  }
