/**
 * Helpers / Classes / Display
 *
 * Setting display settings by classes. e.g. `class="inline-block"`
 */
.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-inline {
    display: inline;
}

.display-table {
    display: table;
}
