// Config
@import '../config/palette';

/**
 * Scaffolding / Global
 *
 * Global scaffolding declarations
 */
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {

    .card-container-svg {
        display: flex;        
        justify-content: center;        
        align-content: center;        
        width: 100vw;        
        height: 100vh;

        svg {
            .text {
                font-family:"Antro Vectra";
                font-size:18px; 
                line-height: 18px;  
            }
        }
    }

    width: 100%;
    height: auto;
    background-color: #ffffff;

    &.logged-in {
        margin-top: -32px;
    }

    .announcements {

        &.hide {
            display: none;
        }
        
        .close {
            float: right; 
            color: white;
            font-size: 23px;
            font-weight: 300;
            margin-top: 5px;
            margin-right: 8px;

            &:before {
                content: "×"
            }
        }

        position: fixed;
        width: 100%;
        z-index: 99;
        background-color: #E8A29C;
        height: 2.5em;
        text-align: center;

        p {
            font-family: "NunitoSans","Helvetica Neue","Arial",Sans-serif;
            padding: none;
            max-width: 200px;
            margin: 0;
            color: white;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 0.7em;
            font-weight: 600;
            line-height: 2.4;

            @media screen and (min-width: $breakpoint-mobile-portrait) {
                max-width: 300px;
                line-height: 1;
                word-wrap: break-word;
                overflow: visible;
                white-space: pre-wrap;
                text-overflow: none;
                margin-top: 6px;
            }

            @media screen and (min-width: $breakpoint-tablet-portrait) {
                font-size: 1em;
                max-width: 600px;
            }

            @media screen and (min-width: $breakpoint-laptop) {
                font-size: 1em;
                max-width: 1000px;
                margin-top: 10px;
            }
        }

    }

}

.page {
    width: 100%;
    height: auto;

    .woocommerce-ResetPassword {

        .form-row {
            width: 100%;
            text-align: center;
            .woocommerce-Button {
                font-size: 100% !important;
                line-height: 1.15 !important;
                position: relative !important;
                width: 100% !important;
                max-width: 200px !important;
                padding: 30px 20px !important;
                margin: 50px auto !important;
                text-align: center !important;
                background-color: #ebaca6 !important;
                color: #ffffff !important;
                cursor: pointer !important;
                text-transform: capitalize !important;
                font-family: $fontstack-serif-primary !important;
                transition: max-width 350ms ease !important;
                border-radius: 0 !important;
                font-weight: 300 !important;
                
            
                &:focus {
                    outline: none !important;
                }
            
                &:hover {
                    max-width: 250px !important;
                }
            
            }
        }

        .form-row-first {
            text-align: left;
        }
    }

}

.page--shop {
    overflow: scroll;
    background-color: $color-brand-primary;
}
