// Config
@import '../config/palette';

/**
 * Scaffolding / Global
 *
 * Global scaffolding declarations
 */
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: auto;
    background-color: #ffffff;

    &.logged-in {
        margin-top: -32px;
    }

    .announcements {

        &.hide {
            display: none;
        }
        
        .close {
            float: right; 
            color: white;
            font-size: 23px;
            font-weight: 300;
            margin-top: 5px;
            margin-right: 8px;

            &:before {
                content: "×"
            }
        }

        position: fixed;
        width: 100%;
        z-index: 99;
        background-color: #E8A29C;
        height: 2.5em;
        text-align: center;

        p {
            font-family: "NunitoSans","Helvetica Neue","Arial",Sans-serif;
            padding: none;
            max-width: 200px;
            margin: 0;
            color: white;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 0.7em;
            font-weight: 600;
            line-height: 2.4;

            @media screen and (min-width: $breakpoint-mobile-portrait) {
                max-width: 300px;
            }

            @media screen and (min-width: $breakpoint-tablet-portrait) {
                font-size: 1em;
                max-width: 600px;
            }

            @media screen and (min-width: $breakpoint-laptop) {
                font-size: 1em;
                max-width: 1000px;
            }
        }

    }

}

.page {
    width: 100%;
    height: auto;
}

.page--shop {
    overflow: scroll;
    background-color: $color-brand-primary;
}
